<h1>List of users</h1>

<table border="1">
  <tr>
    <th>
      Username
    </th>

    <th>
      Private?
    </th>

    <th></th>
    <th></th>
  </tr>
  <%@user.each do |user|%>
  <tr>
  <td><%=user.username%></td>
  <% if user.private == true%>
  <td>Yes</td>
  <%else%>
  <td>No</td>
  <%end%>
  <% if session.fetch(:user_id) != nil%>
  <td><button>Follow</button></td>
  <%end%>
  <td><a href="users/<%=user.username%>">Show details</a></td>
  </tr>
  <%end%>
  </table>
